*{
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    /* border: 1px solid red; */
}

::-webkit-scrollbar {
    width: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    background: rgb(178,223,222);
    background: linear-gradient(90deg, rgba(178,223,222,1) 1%, rgba(56,120,89,1) 51%, rgba(68,19,23,1) 99%);
    color: #ffffff;
    overflow-x: hidden;
}
/* ##############################################-HOME-############################################# */
.header{
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;

    font-size: 35px;
    padding: 60px 100px 40px 100px;
    position: fixed;
    z-index: 1;
    background: transparent;
    background: rgb(178,223,222);
    background: linear-gradient(90deg, rgba(178,223,222,1) 1%, rgba(56,120,89,1) 51%, rgba(68,19,23,1) 99%);
}
header :first-child {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 10px;
}
.navbar a{
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}
.navbar a:hover{
    color: #9b6868;
}
#nav-home:hover{
    color: #9b6868;
}

#nav-home, #dev-name{
    color: rgb(114, 33, 33);
}
main{
position: sticky;
margin-top: 100px;
display: flex;
flex-direction: column;
justify-content: center;
padding-top: 20px;
background: rgb(178,223,222);
background: linear-gradient(90deg, rgba(178,223,222,1) 1%, rgba(56,120,89,1) 51%, rgba(68,19,23,1) 99%);
}
.home{
    
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    gap: 10px;

    padding: 80px 50px 0 50px;

    margin-bottom: 0;
    font-size: 30px;
}
.main-description{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 60px;
}
.hi{
    font-size: 110px;
}
.i-am{
    font-size: 110px;
}
.frinze{
    font-size: 130px;
    color: rgb(0, 0, 0);
}
.main-description p{
    max-width: 400px;
    font-size: 20px;
}
#profile{
width: 530px;
height: 550px;

}

/* ##############################################-ABOUT-############################################# */
#bg-particles{
    position: absolute;
    height: 100;
    width: 100%;
    z-index: -1;
}

.about-phase-one{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 900px;
    padding: 190px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:100px;
    z-index: 9999;
}
.tech-stack{
    display: flex;
    gap: 50px;
}
.tech-stack > *{
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;

}
.bio{
    max-width: 900px;
    font-size: 25px;
    padding-left: 90px;

}
.about-phase-two{
    background-color: #ffffff;
    height: 1000px;
    padding: 190px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #0f0d0d;
}
.about-phase-two > h1{
    font-size: 60px;
    color: #9b6868;
}
.frinze-about{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap:20px
}
#frinze-about-pic{
    width: 500px;
    height: 500px;
}
.frinze-description{
    max-width: 500px;
    color: #9b6868;
}
.frinze-description > h1{
    color: #9b6868;
}

.certifications a{
    font-style: none;
    color: #9b6868;
}

.cert-icons{
    width: 35px;
    height: 35px;
}

.certifications-credentials{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
    padding-bottom: 20px;
}


/* ##############################################-PROJECTS-############################################# */
#projects{
    background: rgb(178,223,222);
    background: linear-gradient(90deg, rgba(178,223,222,1) 1%, rgba(56,120,89,1) 51%, rgba(68,19,23,1) 99%);
}
.projects{
    background-color: rgb(255, 255, 255);
    height: 900px;
    padding-top: 1px;
    padding-bottom: 2px;

    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    gap: 60px;
}

.my-project-wrapper{
    background-color: #ffffff;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.my-project-wrapper ul{
    display: flex;
    list-style: none;
    animation: scroll 10.5s infinite linear;
    
    background-color: #ffffff;
    width: 100%;
    white-space: nowrap;
}

.my-project-wrapper ul li{
    padding: 0px 25px;
    font-size: 40px;
    color: black;
}

.my-project-wrapper ul li::after{
    content: "";
    width: 1px;
    height: 100%;
}

.my-project-wrapper ul li:last-child::after{
    display: none;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to{
        transform: translateX(-100%);
    }
}

.project1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.project1-preview{
    width: 720px;
    height: 400px;
    background-color: rgb(140, 209, 187);
    border: 2px solid black;
    margin: 0px;
    padding: 0px;
}
#fitnesschamp{
    transition: 0.4 ease-in-out;
    box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 25);
}
.project1-description{
    max-width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    max-width: 12200px;

    color: rgb(255, 255, 255);
}
.project1-description h1{
    font-size: 100px;
    margin-bottom: 30px;
}
.project1-description p{
    margin-left: 10px;
}
.project1-tech-stack {
    margin-top: 40px;
    margin-left: 20px;
}
.project1-tech-stack > img{
    width: 20px;
    height: 20px;
}
#fitnesschamp:hover{
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 25);
    border-radius: 5px;
    transition: 0.5 ease-in-out;
}
@media screen and (max-width: 1600px) {
    .project1 {
        margin-right: 50px;
        padding-right: 30px;
    }
}






/* ##############################################-CONTACTS-############################################# */
.contacts{
    background-color: #0f0d0d;
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.form{
    width: 600px;
    height: 600px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    border: 1px solid;
    padding: 10px;
}
.form > #fullName, #email{
    width: 400px;
    height: 35px;
}
.contacts-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    color: rgb(164, 207, 207);
    
}
.digital-space{
    display: flex;
    flex-direction: column;
    gap:10px;
    color: rgb(164, 207, 207);
}
.digital-space a{
    font-size: 16px;
    text-decoration:none;
    color: rgb(255, 255, 255);
}
input[type="text"]::placeholder {
    text-align: center;
}

input[type="email"]::placeholder {
    text-align: center;
}
#submit{
    border-style: none;
    border-radius: 2px;
    padding: 12px;
    color: #ffffff;
    background: rgb(178,223,222);
    background: linear-gradient(-90deg, rgba(178,223,222,1) 1%,rgba(56,120,89,1) 51%, rgb(120, 66, 56) 99% );
}
#submit:hover{
    cursor: pointer;
}
.center-placeholder::placeholder {
    text-align: center;
}

.message-box {
    width: 400px;
    height: 200px;
    padding: 10px;
    resize: none; /* Disable textarea resizing */
}

/* ##############################################-FOOTER-############################################# */
.footer{
    width: 100%;
    height: 150px;
    background-color: #0f0d0d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    color: antiquewhite;
    gap: 20px;
}

.footer-notes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer > *{
    margin-left: 20px;
    margin-bottom: 5px;
    margin-right: 20px;
}

footer a{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 30px;
}

#arrow-up{
    width: 60px;
    height: 60px;
}
